.py-5 {
    padding-top: 5rem!important;
}
.git-box{
    width: 100%;
    height: 500px;
    border-style: solid;
    border-color: black;
    background-color: brown;
}
.footerimg{
    max-width: 100%;
    height: auto;
}
.btn.btn-outline-light.btn-floating.m-1{
    width: 3%;
}
.d-flex a.nav-link.contact{
    color: brown;
    text-decoration: none;
    border-style: solid;
    border-color: brown;
    border-radius: 5%;
    border-width: thin;
}
.d-flex a.nav-link.contact:hover{
    color: brown;
    text-decoration: none;
    border-style: solid;
    border-color: brown;
    border-radius: 5%;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}